<section id="pricing" class="container">
    <div class="header">
        <h1 class="text-center">Get Started for Free, Pay as you Go</h1>
        <p>
        From a couple of gigabytes to several terabytes, 28.io enables your information processing to be deployed instantly and to scale automatically.
        </p>
    </div>
    <div class="row" id="plans">
        <div class="col-md-4">
            <div class="plan" id="free">
                <p class="symbol free">
                    <span class="icon-stack">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-road icon-light"></i>
                    </span>
                </p>
                <h2>Free</h2>
                <p class="text-center text-color">No credit card required</p>
                <p class="text-center">&nbsp;</p>
                <div class="capacity">
                    <div>
                        <i class="icon-gears"></i>
                        5GB per month
                    </div>
                    <div>
                        <i class="icon-dashboard"></i>
                        100MB per minute
                    </div>
                </div>
                <ul class="list-unstyled plus">
                    <li><i class="icon-ok"></i> SQL &amp; NoSQL connectors</li>
                    <li><i class="icon-ok"></i> Automatic Scalability</li>
                    <li><i class="icon-ok"></i> Query Parallelization</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <hr>
                <p class="text-center"><a href="http://portal.28.io/account/show-register" class="btn btn-warning btn-lg">Sign Up</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="plan" id="pro">
                <p class="symbol">
                    <span class="icon-stack">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-plane icon-light"></i>
                    </span>
                </p>
                <h2>Pro</h2>
                <p class="text-center text-color">399$/month paid annualy</p>
                <p class="text-center">499$ month to month</p>
                <div class="capacity">
                    <div>
                        <i class="icon-gears"></i>
                        250GB per month
                    </div>
                    <div>
                        <i class="icon-dashboard"></i>
                        3GB per minute
                    </div>
                </div>
                <ul class="list-unstyled plus">
                    <li><i class="icon-ok"></i> SQL &amp; NoSQL connectors</li>
                    <li><i class="icon-ok"></i> Automatic Scalability</li>
                    <li><i class="icon-ok"></i> Query Parallelization</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <hr>
                <p class="text-center"><a href="http://portal.28.io/account/show-register" class="btn btn-info btn-lg">Sign Up</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="plan" id="entreprise">
                <p class="symbol">
                    <span class="icon-stack">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-rocket icon-light"></i>
                    </span>
                </p>
                <h2>Enterprise</h2>
                <p class="text-center text-color">Tailored to your needs</p>
                <p class="text-center">&nbsp;</p>
                <div class="capacity">
                    <div>
                        <i class="icon-gears"></i>
                        Unlimited
                    </div>
                    <div>
                        <i class="icon-dashboard"></i>
                        Custom provisioning
                    </div>
                </div>
                <ul class="plus list-unstyled">
                    <li><i class="icon-ok"></i> SQL &amp; NoSQL connectors</li>
                    <li><i class="icon-ok"></i> Automatic Scalability</li>
                    <li><i class="icon-ok"></i> Query Parallelization</li>
                    <li>&nbsp;</li> 
                    <li><i class="icon-ok"></i> Dedicated training and support</li>
                    <li><i class="icon-ok"></i> On-premise deployments</li>
                </ul>
                <hr>
                <p class="text-center"><a href="mailto:hello@28.io" class="btn btn-primary btn-lg">Contact Us</a></p>
            </div>
        </div>
        <p class="legend">
            <i class="icon-gears"></i> capacity: maximum volume of data that can be processed per month.
            <br>
            <i class="icon-dashboard"></i> throughput:  maximum volume of data that can be processed per minute.
        </p>
        <p class="legend">The volume is computed by measuring the amount of data that is read from data sources during processing of the query as well as the amount of data that is returned as a result of the query execution.</p>
    </div>
</section>